<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380657889873-4rmg7no54eejcg7tffmasd6bp0p996v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380657889873-4rmg7no54eejcg7tffmasd6bp0p996v3</string>
	<key>API_KEY</key>
	<string>AIzaSyC2lDYSgI3sh-9kQsC5WUEypwvqizpyVC8</string>
	<key>GCM_SENDER_ID</key>
	<string>380657889873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-new-beb37</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-new-beb37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380657889873:ios:62f2827abc3b65f53c3e70</string>
</dict>
</plist>